{% extends 'core/base.html' %}
{% load static %}


<title> {% block title %} Sobre nosotros {% endblock %} </title>
{% block content %}

<div class="container">
            
    <h1 class="text-center titulo2">Sobre nosotros</h1>

    <div class="row acerca-de align-items-center">

        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/uma.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Uma </p>
        </div>
        <div class="col-12 col-lg-8 info">
            
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>

        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/ema.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Ema </p>
        </div>
        <div class="col-12 col-lg-8 info">
            
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
       
        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/mica.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Micaela Marut Errecalde</p>
        </div>
        <div class="col-12 col-lg-8 info">
            
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/fotom.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Romina </p>
        </div>
        <div class="col-12 col-lg-8 info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/fotoh.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Tomas </p>
        </div>
        <div class="col-12 col-lg-8 info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
        <div class=" col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/fotom.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Liliana</p>
            
        </div>
        <div class="col-12 col-lg-8 info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
        <div class="col-12 col-lg-4 foto">
            <img src="{% static 'core/imagenes/fotoh.png' %}" alt="" class="img-fluid rounded-circle">
            <p class="nombre"> Sergio </p>
        </div>
        <div class="col-12 col-lg-8  info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
            <p class="resumen">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam iste sint ipsa temporibus quisquam voluptates aut doloribus? Iusto officia iste voluptatem quisquam, facilis impedit debitis doloremque itaque, quod molestias eum?</p>
        </div>
    </div>
</div>



{% endblock %}